body {
    margin: 0;
}

.banner {
    background-color: blueviolet;
    color: lime;
    font-size: xx-large;
    text-align: center;
    padding: 50px;
    text-transform: capitalize;
}

.menu {
    position: relative;
    background-color: brown;
    font-size: x-large;
    padding: 15px;
    /* height: 50px; */
}

.left {
    position: absolute;
    left: 0;
    top: 0;
    text-transform: capitalize;
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    text-transform: capitalize;
}

a {
    color: chartreuse;
    text-decoration: none;
}