body {
    margin: 0;
}

.banner {
    background-color: blueviolet;
    color: lime;
    font-size: xx-large;
    text-align: center;
    padding: 50px;
    text-transform: capitalize;
    border-radius: 15px 15px 0 0;
}

.menu {
    position: relative;
    background-color: brown;
    font-size: x-large;
    border-radius: 0 0 15px 15px;
    
    padding: 15px; /**********  چرا ***********/
    /* height: 50px; */
}

.left {
    position: absolute;
    left: 0;
    top: 0;
    text-transform: capitalize;
    padding: 0 15px;
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    text-transform: capitalize;
    padding: 0 15px;
}

a {
    color: chartreuse;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}